<h1>Books</h1>

<% if @category %>
  <h4>Category: <%= @category.name %></h4>
<% end %>

<% if @books.length > 0 %>
  <div class="row">
    <% @books.each do |book| %>
      <div class="col-md-3">
        <% if book.cover_image.attached? %>
          <%= link_to image_tag(book.cover_image, size: "250x400" ), book_path(book) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <h4>Ohh oh, no books for this category yet</h4>
<% end %>
